*{
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em){
  html{
    font-size: 60%;
  }
}


@media (max-width: 61.25em){
  html{
    font-size: 58%;
  }
}


@media (max-width: 28.75em){
  html{
    font-size: 55%;
  }
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: center;
  color: black;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

nav{
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(221, 138, 42);
  box-shadow: 0 2px 0 rgba(26, 22, 22, 0.3);
  z-index: 10;
}

.nav-list{
  display: flex;
  margin-right: 2rem;
}

.nav-list a{
  display: block;
  font-size: 2.1rem;
  padding: 2rem;
}

.nav-list a:hover{
  background-color: rgb(88, 124, 223);
}

@media (max-width: 28.75em){
  nav{
    justify-content: center;
  }
  .nav-list{
    margin: 0 1rem;
  }
}

.welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(133, 166, 255);
  background-image: linear-gradient(60deg, rgb(112, 99, 145) 0%, rgb(203, 196, 221) 100%);
}

h1, h2{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1{
  font-size: 6rem;
}

h2{
  font-size: 4rem;
}

.welcome-section p{
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: white;
}

.projects-section{
  text-align: center;
  padding: 10rem 2rem;
  background-color: rgb(150, 210, 255);
}

.projects-section-header{
  max-width: 580px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid grey;
}

.projects-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image{
  height: 400px;
  width: 100%;
  object-fit: cover;
}

img{
  display: block;
}

.project{
  background-color: grey;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.project-title{
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.code{
  color: grey;
  transition: color 0.3s ease-out;
}

.project:hover .code{
  color: orange;
}

.btn{
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
}

.btn-show-all{
  background-color: grey;
  font-size: 20px;
  transition: background 0.3s ease-out;
}

.btn-show-all:hover{
  background-color: orange;
}

.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background-color: grey;
}

.contact-section-header > h2{
  font-size: 6rem;
}

.contact-section-header > p{
  font-style: italic;
  font-size: 2rem;
}

.contact-links{
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details{
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px rgba(171, 160, 197, 0.5);;
  transition: transform 0.3s ease-out;
}

.contact-details:hover{
  transform: translateY(6px);
}

@media(max-width: 30.625em){
  .projects-section{
    padding: 6rem 1rem;
  }
  .projects-grid{
    grid-template-columns: 1fr;
  }
}

@media(max-width: 28.75em){
  .contact-section-header > h2{
    font-size: 4rem;
  }
}